<html>
	<head>
		<title>SITCON 公告系統</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		
	</head>


	<body class="admin-bg">
		<div class="row" align="center">
			<h1>SITCON 座位表公告系統</h1>
		</div>
		<div class="row" align="center">
			<div class="stage admin-bar" align="center" style="width: 100%;">
				公告內容：<input type="text" id="conf_msg" size="50"/>
				密碼：<input type="password" id="pwd" size="50"/>
				<button id="btn_send" class="btn btn-white" onClick="sendConfMsg()">送出</button>
			</div>
		</div>
		<script type="text/javascript" src="/javascripts/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="/javascripts/admin.js"></script>
	</body>


</html>