h1 {
	font-size: 2em;
}

.admin-bg {
	background: white url('/images/PLG-wide_2x_1000x525_large.png') no-repeat center;
}

.admin-bar {
	position: absolute;
	top: 50%;
	background-color: #000;
	background-image: url('/images/PLG-wide_2x_1000x525_large_reverse.png');
	background-repeat: no-repeat;
	background-position: 50% 60%;
}