
.conf-msg {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 30px;
	background-color: #000;
	text-align: center;
	font-size: 1em;
	color: #FFF;
	z-index: 50;
	padding-top: 20px;

	/*animation*/
	-moz-animation-name:push-down;
	-moz-animation-duration:10.0s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	
	-webkit-animation-name:push-down;
	-webkit-animation-duration:10.0s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	
	-ms-animation-name:push-down;
	-ms-animation-duration:10.0s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	
	-o-animation-name:push-down;
	-o-animation-duration:10.0s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	
	animation-name:push-down;
	animation-duration:10.0s;
	animation-iteration-count:infinite;
	animation-direction:linear;
}

@-moz-keyframes push-down{
	0% {
		opacity: 0;
		top: -50px;
	}

	20% {
		opacity: 1;
		top: 0px;
	}

	80% {
		opacity: 1;
		top: 0px;
	}

	100% {
		opacity: 0;
		top: -50px;
	}
}

@-webkit-keyframes push-down {
	0% {
		opacity: 0;
		top: -50px;
	}

	20% {
		opacity: 1;
		top: 0px;
	}

	80% {
		opacity: 1;
		top: 0px;
	}

	100% {
		opacity: 0;
		top: -50px;
	}

}

@-ms-keyframes push-down{
	0% {
		opacity: 0;
		top: -50px;
	}

	20% {
		opacity: 1;
		top: 0px;
	}

	80% {
		opacity: 1;
		top: 0px;
	}

	100% {
		opacity: 0;
		top: -50px;
	}

}

@-o-keyframes push-down{
	0% {
		opacity: 0;
		top: -50px;
	}

	20% {
		opacity: 1;
		top: 0px;
	}

	80% {
		opacity: 1;
		top: 0px;
	}

	100% {
		opacity: 0;
		top: -50px;
	}

}

@keyframes push-down{
	0% {
		opacity: 0;
		top: -50px;
	}

	20% {
		opacity: 1;
		top: 0px;
	}

	80% {
		opacity: 1;
		top: 0px;
	}

	100% {
		opacity: 0;
		top: -50px;
	}

}