// background
@background-image: "/images/bg.png";
@background-color: #c2e9ff;

// general
@font-family: "PT Sans Narrow","Source Han Sans TWHK",sans-serif;
@general-text-color: #FFF;
@header-text-color: @general-text-color;
@main-color: #93cb60;

// Stage
@stage-bg-color: @main-color;
@stage-text-color: @general-text-color;

// Seat
@seat-border-color: #000;
@seat-color: #FFF;
@seat-name-text-color: @general-text-color;
@seat-name-bg-color: #111;
@seat-sitted-color: #67ac5e;
@seatted-bg-image: "";
@seat-selected-color: #60D0EE;

// button
@button-text-color: @general-text-color;
@modify-bg-color: #f8c767;
@modify-border-color: #f7a719;

@clear-bg-color: #f2576a;
@clear-border-color: #a03c4d;

@menu-bg-color: #1799c6;
@menu-border-color: #FFF;
@menu-bg-hover-color: #1799c6 + #222;
@room-selected-bg-color: @menu-bg-hover-color;

// footer
@footer-bg-color: rgba(0, 0, 0, 0.5);
@footer-text-color: @general-text-color;

// message
@msg-text-color: @general-text-color;
@msg-bg-color: #000;

// admin
@admin-text-color: @general-text-color;
@admin-bg-color: #000;
@admin-bg-img: "/images/admin_bg.png";
@admin-bg-img-rev: "/images/admin_bg_reverse.png";

// help
@help-text-color: #FFF;
