
.msg-bubble {
	white-space:normal;
	position:absolute;
	bottom:40px;
	left:0%;
	width: 80px;
	opacity: 0;
	bottom: 0px;
	z-index: 50;
	color: #FFF;
	background-color: #2d7500;
	border-radius: 7px;
	padding: 5px;

	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow:hidden;

	/*animation*/

	-moz-animation-name:popup;
	-moz-animation-duration:2.0s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	
	-webkit-animation-name:popup;
	-webkit-animation-duration:2.0s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	
	-ms-animation-name:popup;
	-ms-animation-duration:2.0s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	
	-o-animation-name:popup;
	-o-animation-duration:2.0s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	
	animation-name:popup;
	animation-duration:2.0s;
	animation-iteration-count:infinite;
	animation-direction:linear;


}



@-moz-keyframes popup{
	0% {
		opacity: 0;
		bottom: 0px;
	}

	50% {
		opacity: 1;
		bottom: 40px;
	}

	100% {
		opacity: 0;
		bottom: 0px;
	}
}

@-webkit-keyframes popup {
	0% {
		opacity: 0;
		bottom: 0px;
	}

	50% {
		opacity: 1;
		bottom: 40px;
	}

	100% {
		opacity: 0;
		bottom: 0px;
	}

}

@-ms-keyframes popup{
	0% {
		opacity: 0;
		bottom: 0px;
	}

	50% {
		opacity: 1;
		bottom: 40px;
	}

	100% {
		opacity: 0;
		bottom: 0px;
	}

}

@-o-keyframes popup{
	0% {
		opacity: 0;
		bottom: 0px;
	}

	50% {
		opacity: 1;
		bottom: 40px;
	}

	100% {
		opacity: 0;
		bottom: 0px;
	}

}

@keyframes popup{
	0% {
		opacity: 0;
		bottom: 0px;
	}

	50% {
		opacity: 1;
		bottom: 40px;
	}

	100% {
		opacity: 0;
		bottom: 0px;
	}

}