.msg-bubble {
	position:absolute;
	left: 0%;
	width: 80px;
	z-index: 30;
	color: #FFF;
	background-color: #000;
	border-radius: 7px;
	padding: 5px;
	overflow: hidden;

	/*animation*/
	animation-name: popup;
	animation-duration: 5.0s;
	animation-iteration-count: 1;
	animation-direction:linear;
}

@keyframes popup {
	0% {
		opacity: 0;
		bottom: 0px;
	}

	25% {
		opacity: 1;
		bottom: 40px;
	}
	75% {
		opacity: 1;
		bottom: 40px;
	}

	100% {
		opacity: 1;
		bottom: 40px;
	}

}
