body {
	margin: 70px 0px;
}

.header {
	font-size: 50px;
	color: #7cb059;
	text-align: center;
}

.stage {
	padding-top: 30px;
	display: block;
	width: 720;
	height: 50;
	font-size: 20px;
	background-color: #7cb059;
	color: #FFF;
}

.row {
	display: block;
	margin: 5px 0px;
}

.block-area {
	display: inline-block;
	margin: 20px;
	border: 1px solid;
	border-color: #000;
	z-index: 4;
}

.left-block {
	transform: rotate(10deg);
	-webkit-transform:rotate(10deg);
}

.center-block {
	transform:translate(0px,30px);
	-webkit-transform:translate(0px,30px);
}

.right-block {
	transform: rotate(-10deg);
	-webkit-transform:rotate(-10deg);
}

.sit {
	display: inline-block;
	background-color: #7cb059;
	color: #FFF;
	width: 30px;
	height: 25px;
	border-radius: 15px;
	text-align: center;
	font-size: 20px;
	position: relative;
	z-index: 3;
	padding-top: 5px;
	margin: 2px;
	text-decoration: none;
}

.sitted {
	background-color: #FF6633;
}

.selected {
	background-color: #60D0EE;
}

.sit:hover {
	display: inline-block;
	color: #FFF;
	width: 30px;
	height: 25px;
	border-radius: 15px;
	text-align: center;
	font-size: 20px;
	padding-top: 5px;
	text-decoration:none
}

.sit:hover:after{
	background:#111;
	background:rgba(0,0,0,.8);
	border-radius:5px;
	bottom:46px;
	color:#fff;
	content:attr(title);
	display:block;
	left:0px;
	padding:5px 15px;
	position:absolute;
	white-space:nowrap;
	z-index:1
}

.sit:hover:before{
	border:solid;
    border-color:#111 transparent;
    border-width:6px 6px 0 6px;
    bottom:40px;
    content:"";
    display:block;
    left:6px;
    position:absolute;
    z-index:2
}

.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background-color: #7cb059;
	text-align: center;
	font-size: 1em;
	color: #FFF;
	z-index: 99;
}

.meeting-room {
	margin-bottom: 70px;
}

.input-area {
	display: inline-block;
	margin: 12px 30px;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

.btn-modify-sit {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}

.btn-clear-sit {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.btn-black {
	color: #fff;
	background-color: #000;
	border-color: #fff;
}

.btn-white {
	color: #000;
	background-color: #fff;
	border-color: #000;
}

.dark-cover {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color:#000;
	z-index:99;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.row-title {
	transform: translate(0px,45px);
	-webkit-transform: translate(0px,45px);
}

.black-sit {
	background-color: #E90 !important;
    border: 1px solid #C60 !important;
    box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.8);
    position: relative;
    z-index: 100;
}


.gravatar-sit {
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 30px;
}

.display-gra-btn {
	position: fixed;
	top: 22%;
	left: -30;
	background-color: #7cb059;
	border-radius: 10px;
	padding: 10px;
	color: #FFF;
	z-index: 2;
	transform: rotate(90deg);
	-webkit-transform:rotate(90deg);
	-webkit-transition: .2s;
	transition: .2s;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;

}
.display-gra-btn:hover {
	background-color: #f0ad4e;
}
.gravatar-regist {
	position: fixed;
	top: 20%;
	left: -20%;
	background-color: #7cb059;
	border-radius: 10px;
	padding: 10px;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}

.g-move {
	left: 0;
}
.g-btn-move {
	left: 145px;
}

.gravatar-regist > h3 {
	margin: 5px;
	font-size: 1.5em;
	color: #FFF;
}
.gravatar-regist > p {
	margin: 5px;
	color: #FFF;
}

.no-under-line-link {
	text-decoration: none;
}

.change-room-btn {
	
	position: fixed;
	top: 20%;
	right: 0%;
	background-color: #7cb059;
	border-radius: 10px;
	padding: 10px;
	color: #FFF;
	z-index: 2;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.change-room-btn-selected {
	background-color: #f0ad4e;
}

.change-room-btn:hover {
	background-color: #f0ad4e;
}