(function(){
    var config = function(){
        var server_conf = function(){
            this.port = 80;
        };
        var irc_conf = function(){
            this.server = 'irc.freenode.net';
            this.channel = '#channel';
            this.bot_nick = 'ROBOT_NAME';
            this.bot_pwd = 'ROBOT_PWD';
        };
		var conference = function(){
			this.name = 'conf name'; // e.g. SITCON
			this.subtitle = ''; // e.g. The True Hackers
			this.title = this.name + ' ' + this.subtitle;
		};

		this.admin_pwd = 'admin_password'; // 128 times md5 hash
        this.server = new server_conf();
        this.irc = new irc_conf();
		this.conference = new conference();
	this.cookieSecret = 'S3CR3T';
    };

    module.exports = new config();
})();
