(function(){
    var config = function(){
        var server_conf = function(){//{{{
            this.port = 80
        };//}}}
        var irc_conf = function(){//{{{
            this.server = 'chat.freenode.net',
            this.channel = '#sitcon',
            this.bot_nick = 'ROBOT_NAME'
            this.bot_pwd = 'ROBOT_PWD'
        };//}}}
        this.admin_pwd = 'admin_password';

        this.server = new server_conf();
        this.irc = new irc_conf();
    };

    module.exports = new config();
})();
